In [1]:
from bs4 import BeautifulSoup

import requests
from requests_html import HTMLSession
import html5lib
import pandas as pd
import re


pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)


Scraping indeed job boards to obtain a data set which can be used for analysis

In [2]:
# Creating the connection

# Indeed search for data analyst jobs, displaying 50 per page

URL ="https://www.indeed.com/jobs?as_and=data%20analyst&as_phr&as_any&as_not&as_ttl&as_cmp&jt=all&st&salary&radius=25&l&fromage=any&limit=50&sort&psf=advsrch&from=advancedsearch&vjk=44dce43f1d302551&advn=5680616533559579"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36 "     
          }  

response = requests.get(URL,headers=headers)

content = response.content

# print(content)

In [3]:
# Using beautifulsoup to parse the HTMML


soup1=BeautifulSoup(response.content, 'html.parser')
soup = BeautifulSoup(soup1.prettify(), 'html.parser')

In [4]:
# Cleaning date data to extract only numbers.

DatePosted = soup.find_all("span", class_="date")
for dates in DatePosted:
    content = dates.text.replace('\n','').strip()
    content = content.replace('Employer','')
    content = content.replace('Posted','')
    content = content.replace('Active','')
    content = content.replace('ago','')
    content = content.replace('days','')
    content = content.replace('day','')
    content = content.replace('Just posted','0')     # Consider jobs posted today as 0 days ago
    content = content.replace('To','0')
    content = content.replace('30+','30')            # Jobs Posted 30+ days ago as 30 days ago
    content = re.sub("^\s+|\s+$", "", content, flags=re.UNICODE)
    print(content)

14
Hiring ongoing
0
3
11
2
30
2
0
30
30
9
14
2
2
3
0
2
11
3
13
30
1
2
30
19
2
3
0
30
30
7
2
30
4
2
3
30
2
3
17
30
30
30
8
3
3
3
10
7

In [5]:
Company_Names=[] 
Dates_Posted = []
Job_Titles = []
Company_Locations=[]
Job_Salaries = []


# Creating lists and turning the list data into a datframe and cleaning up string and date data.



CompanyNames = soup.find_all("span",class_="companyName")
for name in CompanyNames:
    content = name.text.strip().replace(".", "")
    editedSource = re.sub('\â€”','',str(content))
    Company_Names.append(content)


DatePosted = soup.find_all("span", class_="date")
for dates in DatePosted:
    content = dates.text.replace('\n','').strip()
    content = content.replace('Employer','')
    content = content.replace('Posted','')
    content = content.replace('Active','')
    content = content.replace('ago','')
    content = content.replace('days','')
    content = content.replace('day','')
    content = content.replace('Just posted','0')     # Consider jobs posted today as 0 days ago
    content = content.replace('To','0')              # day removed, jobs posted today 'to' set as 0
    content = content.replace('30+','30')            # Jobs Posted 30+ days ago as 30 days ago
    content = re.sub("^\s+|\s+$", "", content, flags=re.UNICODE)
    Dates_Posted.append(content)
    
    
    
Titles = soup.find_all("h2", class_="jobTitle")
for title in Titles:
    data = title.text.replace('\n','').strip()
    data = data.replace('new','')
    data = re.sub(r"^\s+", "", data, flags=re.UNICODE)
    data = re.sub('\â€”','',str(data))
    Job_Titles.append(data)



CompanyLocation = soup.find_all("div",class_="companyLocation")
for loca in CompanyLocation:
    dataloc = loca.text.replace('\n','').strip()
    dataloc = dataloc.replace('(','')
    dataloc = dataloc.replace(')','')
    dataloc = dataloc.replace('+','')
    dataloc = dataloc.replace('locations','')
    dataloc = dataloc.replace('location','')
    dataloc = dataloc.replace('  ','')
    dataloc = re.sub('\d', '', dataloc)
    dataloc = re.sub("^\s+|\s+$", "", dataloc, flags=re.UNICODE)
    Company_Locations.append(dataloc)
    

    
    
    
#SalaryRange = soup.find_all("div",class_="metadata salary-snippet-container")
#for sal in SalaryRange:
#    Job_Salaries.append((sal.text.strip()))

In [6]:


df = pd.DataFrame( 
{  'Job Title' : Job_Titles,
    'Company Name': Company_Names,
    'Company Location': Company_Locations,
    'Days Posted Ago': Dates_Posted,
 #   'Salary Range': Job_Salaries}
}, columns=["Job Title", "Company Name", "Company Location", "Days Posted Ago"]
)


print(df)

df.to_csv('IndeedScraping.csv', index=False)

                                                          Job Title  \
0                           Data and Research Analyst - Entry Level
1                                               Junior Data Analyst
2                                            Associate Data Analyst
3                                                      Data Analyst
4                                                      Data Analyst
5                                  International Trade Data Analyst
6                               Web Data Analyst (North of Chicago)
7                                                Laboratory Analyst
8   Data Analyst/Architect -100% remote - MUST have Active Secre...
9                           Data Analyst / Sr. Data Analyst, Remote
10                                                     Data Analyst
11                                         Collections Data Analyst
12                                             Data Systems Analyst
13                         Saybrus Partners- Data Reporting Analyst
14                                              Health Data Analyst
15  Program Data Analyst - The Connor Group's Kids & Community P...
16                                                     Data Analyst
17                                            Business Data Analyst
18                                      Data and Assessment Analyst
19                                         Data Analyst (Analyst 4)
20                                                     Data Analyst
21                                            Business Data Analyst
22                                                     Data Analyst
23                                                  HR Data Analyst
24                   Solutions Analyst (Data Analytics & Reporting)
25                                                 Business Analyst
26                                      Data Analyst and Researcher
27                                        Data Analyst - Operations
28                                     Human Resources Data Analyst
29                                     Data Analyst - Oklahoma City
30                                         Data Analyst Entry Level
31                        Junior Data Analyst/ Entry Level position
32                                                 Business Analyst
33                                          Healthcare Data Analyst
34                                         Data Analyst Entry Level
35                                          Data Operations Analyst
36                                           Portfolio Data Analyst
37                                          Research Analyst (Data)
38                                                     Data Analyst
39                          Data Analyst + Apprentice (Entry-Level)
40                   PT Football Data Collection Analyst (Contract)
41                                             Fraud Data Analyst -
42                                                     Data Analyst
43                                                     Data Analyst
44      Analytics & Data Science, Professional, Informatics Analyst
45                                         Data Analyst-entry level
46                                               Operations Analyst
47                 Medical Record/Data Analyst Virtual Hiring Event
48                           Data Analyst, Toyota Big Data Platform
49  Data Analyst (Epidemiologist / Statistician / Health Science...

                                          Company Name  \
0                     Cloudburst Consulting Group, Inc
1                                       Talentheed Inc
2                       SYNQ3 Restaurant Solutions LLC
3                                   Sun Life Financial
4                       Central Coast Community Energy
5                     UNO International Trade Strategy
6                                                Uline
7                                         Almatis, Inc
8                                            SecurePro
9                             Liberty Mutual Insurance
10                                                Hulu
11   Clerk of the Circuit Court and County Comptroller
12                                          PMHCC, INC
13                                    Saybrus Partners
14                                          One Health
15                                    The Connor Group
16                                           Equisolar
17                                     First Mile Care
18                             Fremont School District
19                          Oregon Judicial Department
20                   Business Performance Systems, LLC
21                             Eloquest Healthcare Inc
22                                      CDC Foundation
23                                           Odoo, Inc
24                                           SYSTEMTEC
25                                              1Starr
26               Integra Realty Resources - Fort Worth
27                              Dreamfields Brands Inc
28                                              Kroger
29                          CDC Foundation ( Contract)
30                                     PCS GLOBAL TECH
31                                     PCS GLOBAL TECH
32                             Ana-Data Consulting Inc
33                           University of Connecticut
34                                     PCS GLOBAL TECH
35                                            Vendelux
36  Virginia Innovation Partnership Corporation (VIPC)
37                                                 MIT
38                                Elitetech Recruiters
39                                  New Apprenticeship
40                                                 PFF
41                                               Apple
42                            Fastline Marketing Group
43                                        Excel Impact
44                                     MVP Health Care
45                                             TRESUME
46                         Marathon Energy Corporation
47                    Telecare Corporation- Santa Cruz
48                                              Toyota
49             SMITREC, Department of Veterans Affairs

                           Company Location Days Posted Ago
0                              Landover, MD              14
1                                    Remote  Hiring ongoing
2                                    Remote               0
3                       Wellesley Hills, MA               3
4                              Monterey, CA              11
5        Bethesda, MD  Bethesda Center area               2
6                               Chicago, IL              30
7                                Benton, AR               2
8                                    Remote               0
9                                    Remote              30
10                         Santa Monica, CA              30
11              Sarasota, FL  Downtown area               9
12                         Philadelphia, PA              14
13                                   Remote               2
14                               Powell, WY               2
15                           Miamisburg, OH               3
16                               Encino, CA               0
17                          Northampton, MA               2
18                            Mundelein, IL              11
19                   Remote in Portland, OR               3
20     Temporarily Remote in Washington, DC              13
21                             Ferndale, MI              30
22                                   Remote               1
23  Temporarily Remote in San Francisco, CA               2
24            Hybrid remote in Columbia, SC              30
25                                   Remote              19
26                           Fort Worth, TX               2
27                   Desert Hot Springs, CA               3
28                                   Remote               0
29                                   Remote              30
30                             New York, NY              30
31                      California City, CA               7
32               New York, NY  Midtown area               2
33                           Farmington, CT              30
34                               Austin, TX               4
35                                   Remote               2
36                                 Virginia               3
37                  Cambridge, MA  MIT area              30
38                  Remote in United States               2
39                           Richardson, TX               3
40                 Remote in Cincinnati, OH              17
41                               Austin, TX              30
42                                   Remote              30
43                                     Ohio              30
44                             New York, NY               8
45                              Herndon, VA               3
46                   Remote in Syracuse, NY               3
47                               Gilroy, CA               3
48                                Plano, TX              10
49                            Ann Arbor, MI               7

In [7]:
 # Function to automate this process - 

def scrap_indeed():
    import datetime
    import csv
    from bs4 import BeautifulSoup
    import requests
    import requests
    from requests_html import HTMLSession
    import html5lib
    import pandas as pd
    import re
    
    URL ="https://www.indeed.com/jobs?as_and=data%20analyst&as_phr&as_any&as_not&as_ttl&as_cmp&jt=all&st&salary&radius=25&l&fromage=any&limit=50&sort&psf=advsrch&from=advancedsearch&vjk=44dce43f1d302551&advn=5680616533559579"

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36 "     
          }  

    response = requests.get(URL,headers=headers)
    content = response.content
    soup1=BeautifulSoup(response.content, 'html.parser')
    soup = BeautifulSoup(soup1.prettify(), 'html.parser')

    Company_Names=[] 
    Dates_Posted = []
    Job_Titles = []
    Company_Locations=[]
    Job_Salaries = []


    CompanyNames = soup.find_all("span",class_="companyName")
    for name in CompanyNames:
        content = name.text.strip().replace(".", "")
        editedSource = re.sub('\â€”','',str(content))
        Company_Names.append(content)


    DatePosted = soup.find_all("span", class_="date")
    for dates in DatePosted:
        content = dates.text.replace('\n','').strip()
        content = content.replace('Employer','')
        content = content.replace('Posted','')
        content = content.replace('Active','')
        content = content.replace('ago','')
        content = content.replace('days','')
        content = content.replace('day','')
        content = content.replace('Just posted','0')     # Consider jobs posted today as 0 days ago
        content = content.replace('To','0')              # day removed, jobs posted today 'to' set as 0
        content = content.replace('30+','30')            # Jobs Posted 30+ days ago as 30 days ago
        content = re.sub("^\s+|\s+$", "", content, flags=re.UNICODE)
        Dates_Posted.append(content)
    
    
    
    Titles = soup.find_all("h2", class_="jobTitle")
    for title in Titles:
        data = title.text.replace('\n','').strip()
        data = data.replace('new','')
        data = re.sub(r"^\s+", "", data, flags=re.UNICODE)
        data = re.sub('\â€”','',str(data))
        Job_Titles.append(data)



    CompanyLocation = soup.find_all("div",class_="companyLocation")
    for loca in CompanyLocation:
        dataloc = loca.text.replace('\n','').strip()
        dataloc = dataloc.replace('(','')
        dataloc = dataloc.replace(')','')
        dataloc = dataloc.replace('+','')
        dataloc = dataloc.replace('locations','')
        dataloc = dataloc.replace('location','')
        dataloc = dataloc.replace('  ','')
        dataloc = re.sub('\d', '', dataloc)
        dataloc = re.sub("^\s+|\s+$", "", dataloc, flags=re.UNICODE)
        Company_Locations.append(dataloc)
    
    
    df = pd.DataFrame( 
    {  'Job Title' : Job_Titles,
        'Company Name': Company_Names,
        'Company Location': Company_Locations,
        'Days Posted Ago': Dates_Posted,}
    , columns=["Job Title", "Company Name", "Company Location", "Days Posted Ago"]
    )

    
    with open('IndeedScraping.csv', 'a+', newline='', encoding='UTF8') as f:
        writer=csv.writer(f)
        writer.writerow(data)

In [ ]:
import time

while(True):
    scrap_indeed()
    time.sleep(1000)