In [1]:
from bs4 import BeautifulSoup

import requests
import requests
from requests_html import HTMLSession
import html5lib
import pandas as pd
import re



pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:


    # Scraping website to obtain a data set which can be used for analysis

In [3]:
# Creating the connection

# Indeed search for data analyst jobs, displaying 50 per page

URL ="https://www.indeed.com/jobs?as_and=data%20analyst&as_phr&as_any&as_not&as_ttl&as_cmp&jt=all&st&salary&radius=25&l&fromage=any&limit=50&sort&psf=advsrch&from=advancedsearch&vjk=44dce43f1d302551&advn=5680616533559579"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36 "     
          }  

response = requests.get(URL,headers=headers)

content = response.content

# print(content)

In [4]:
# Using beautifulsoup to parse the HTMML


soup1=BeautifulSoup(response.content, 'html.parser')
soup = BeautifulSoup(soup1.prettify(), 'html.parser')

In [6]:
# Cleaning date data to extract only numbers.

DatePosted = soup.find_all("span", class_="date")
for dates in DatePosted:
    content = dates.text.replace('\n','').strip()
    content = content.replace('Employer','')
    content = content.replace('Posted','')
    content = content.replace('Active','')
    content = content.replace('ago','')
    content = content.replace('days','')
    content = content.replace('day','')
    content = content.replace('Just posted','0')     # Consider jobs posted today as 0 days ago
    content = content.replace('To','0')
    content = content.replace('30+','30')            # Jobs Posted 30+ days ago as 30 days ago
    content = re.sub("^\s+|\s+$", "", content, flags=re.UNICODE)
    print(content)

0
3
4
2
3
9
2
4
30
30
2
5
2
5
3
2
2
16
4
5
2
5
18
2
4
4
2
4
16
0
22
26
2
30
9
2
3
2
1
2
30
1
19
4
3
8
2
2
2
3

In [7]:
Company_Names=[] 
Dates_Posted = []
Job_Titles = []
Company_Locations=[]
Job_Salaries = []


# Creating lists and turning the list data into a datframe and cleaning up string and date data.


    
Titles = soup.find_all("h2", class_="jobTitle")
for title in Titles:
    data = title.text.replace('\n','').strip()
    data = data.replace('new','')
    data = re.sub(r"^\s+", "", data, flags=re.UNICODE)
    data = re.sub('\â€”','',str(data))
    Job_Titles.append(data)


    

CompanyNames = soup.find_all("span",class_="companyName")
for name in CompanyNames:
    content = name.text.strip().replace(".", "")
    editedSource = re.sub('\â€”','',str(content))
    Company_Names.append(content)


DatePosted = soup.find_all("span", class_="date")
for dates in DatePosted:
    content = dates.text.replace('\n','').strip()
    content = content.replace('Employer','')
    content = content.replace('Posted','')
    content = content.replace('Active','')
    content = content.replace('ago','')
    content = content.replace('days','')
    content = content.replace('day','')
    content = content.replace('Just posted','0')     # Consider jobs posted today as 0 days ago
    content = content.replace('To','0')              # day removed, jobs posted today 'to' set as 0
    content = content.replace('30+','30')            # Jobs Posted 30+ days ago as 30 days ago
    content = re.sub("^\s+|\s+$", "", content, flags=re.UNICODE)
    Dates_Posted.append(content)
    
    


CompanyLocation = soup.find_all("div",class_="companyLocation")
for loca in CompanyLocation:
    dataloc = loca.text.replace('\n','').strip()
    dataloc = dataloc.replace('(','')
    dataloc = dataloc.replace(')','')
    dataloc = dataloc.replace('+','')
    dataloc = dataloc.replace('locations','')
    dataloc = dataloc.replace('location','')
    dataloc = dataloc.replace('  ','')
    dataloc = re.sub('\d', '', dataloc)
    dataloc = re.sub("^\s+|\s+$", "", dataloc, flags=re.UNICODE)
    Company_Locations.append(dataloc)
    

    
    
    
#SalaryRange = soup.find_all("div",class_="metadata salary-snippet-container")
#for sal in SalaryRange:
#    Job_Salaries.append((sal.text.strip()))

In [8]:


df = pd.DataFrame( 
{  'Job Title' : Job_Titles,
    'Company Name': Company_Names,
    'Company Location': Company_Locations,
    'Days Posted Ago': Dates_Posted,
 #   'Salary Range': Job_Salaries}
}, columns=["Job Title", "Company Name", "Company Location", "Days Posted Ago"]
)


print(df)

df.to_csv('IndeedScraping.csv', index=False)

                                                          Job Title  \
0                                                      Data Analyst
1                                           Operations Data Analyst
2                           Data Analyst + Apprentice (Entry-Level)
3                                                Data Entry Analyst
4                                                      Data Analyst
5                                        Public Health Data Analyst
6                                               Energy Data Analyst
7                      Entry Level Proposal Specialist/Data Analyst
8                                                   IT Data Analyst
9                                                      Data Analyst
10                                                     Data Analyst
11                                                 Business Analyst
12                                         Data Analyst Entry Level
13                                              Junior Data Analyst
14                                         Data Analyst Entry Level
15                                          Data Operations Analyst
16                                                     Data Analyst
17                                                     Data Analyst
18                                    Data Entry/Compliance Analyst
19                                         Entry Level Data Analyst
20                                                     Data Analyst
21                                       Entry Level - Data Analyst
22                                  Data Analyst Supporting the FBI
23                                                     Data Analyst
24                                          Data Analyst – Bootcamp
25                                          Data Processing Analyst
26                                  Entry level Data Analyst/Python
27                                        Data Analyst- Entry Level
28                                                   Energy Analyst
29                                        Junior level Data Analyst
30                                                     Data Analyst
31  Data Analyst, Business Analysis and Reporting – VIRTUAL/REMO...
32                                              Junior Data Analyst
33                                          Healthcare Data Analyst
34  Data Analyst - Store Ops & Analytics (Full Time Remote OR Hy...
35                             Research Technician and Data Analyst
36                                         Data Analyst-entry level
37                                     Data Analyst- Full Time Role
38                                                     Data Analyst
39                        Junior Data Analyst/ Entry Level position
40                                                     Data Analyst
41                                                     Data Analyst
42                                                     Data Analyst
43                             Entry - Junior Data Analyst - Onsite
44                                                     Data Analyst
45                                                     Data Analyst
46                                                 Jr. Data Analyst
47                                                     Data Analyst
48                                                     Data Analyst
49                                              Junior Data Analyst

                                 Company Name  \
0                               Cannon Sports
1                               Good Day Farm
2                          New Apprenticeship
3                         Mid Valley Disposal
4                                 CarPartscom
5     Central Jersey Family Health Consortium
6                         Energy Intelligence
7                      Sunsolar Solutions Inc
8                          Silverton Mortgage
9                                    FlowWest
10                      Cenergy International
11                                     1Starr
12                            PCS GLOBAL TECH
13                                  Avalanche
14                            PCS GLOBAL TECH
15                                   Vendelux
16                              Slim Chickens
17                                  Microsoft
18                               Latitude Inc
19                             Talentheed Inc
20                                 PRIMMA LLC
21                             General Motors
22                                FSA Federal
23                            Agama Solutions
24                            PCS Global Tech
25                            EnergyWatch Inc
26                                    Emonics
27                              AC Accounting
28                                      Tesla
29                                    TRESUME
30                           Disney Streaming
31                                     Publix
32                     Cobbs Creek Healthcare
33                  University of Connecticut
34                                     TARGET
35                California State University
36                                    TRESUME
37  Visionary Innovative Technology Solutions
38                           Novuskin Med Spa
39                            PCS GLOBAL TECH
40                                 Inrika Inc
41                             CDC Foundation
42               UNIVERSITY OF SOUTH CAROLINA
43                                   Tier2Tek
44                      VSOFT CORPORATION INC
45                      WEBTOON Entertainment
46                                 Colsh Tech
47            Bronco Billy's Casino and Hotel
48                                Robert Half
49                              CCR Analytics

                       Company Location Days Posted Ago
0                           Pacoima, CA               0
1               Hot Springs Village, AR               3
2   Raleigh, NC  Northwest Raleigh area               4
3                            Kerman, CA               2
4                     Grand Prairie, TX               3
5                   North Brunswick, NJ               9
6        New York, NY  Murray Hill area               2
7                            Peoria, AZ               4
8                                Remote              30
9              Remote in Sacramento, CA              30
10                           Spring, TX               2
11                               Remote               5
12                      Los Angeles, CA               2
13                               Remote               5
14                      Los Angeles, CA               3
15                               Remote               2
16                     Fayetteville, AR               2
17           Redmond, WA  Overlake area              16
18                         Manassas, VA               4
19                         San Jose, CA               5
20                           Roslyn, NY               2
21              Remote in United States               5
22                        Linthicum, MD              18
23                        United States               2
24                           Dallas, TX               4
25                               Remote               4
26                               Remote               2
27                            Tampa, FL               4
28                               Remote              16
29                          Ashburn, VA               0
30                         New York, NY              22
31               Remote in Lakeland, FL              26
32                   Newtown Square, PA               2
33                       Farmington, CT              30
34            Remote in Minneapolis, MN               9
35              Fresno, CA  Hoover area               2
36                          Herndon, VA               3
37                         New York, NY               2
38                        Las Vegas, NV               1
39                            Poway, CA               2
40      Township of South Brunswick, NJ              30
41       Hybrid remote in Pago Pago, AS               1
42                         Columbia, SC              19
43                     Delray Beach, FL               4
44                           McLean, VA               3
45                      Los Angeles, CA               8
46                               Remote               2
47                    Cripple Creek, CO               2
48    Houston, TX  Galleria-Uptown area               2
49                               Remote               3